/* .App { */
/*   text-align: center; */
/*   min-height: 100vh; */
/*   display: flex; */
/*   flex-direction: column; */
/*   align-items: center; */
/*   justify-content: center; */
/*   font-size: calc(10px + 2vmin); */
/*   color: white; */
/* } */

/* .App-link { */
/*   color: #61dafb; */
/* } */

/* a { */
/*   color: #61dafb; */
/* } */

.App {
  background-color: #aeaca3;
  color: #314;
}
.video-item {
  display: flex !important;
  align-items: center !important;
  cursor: pointer;
}

.video-item.item img {
  max-width: 180px;
}

/* .Song-Item { */
/*   color: yellow; */
/* } */

/* body  { */
/*   margin: 10; */
/*   padding: 40; */
/*   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", */
/*     "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", */
/*     sans-serif; */
/*   -webkit-font-smoothing: antialiased; */
/*   -moz-osx-font-smoothing: grayscale; */
/* } */

/* code { */
/*   font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", */
/*     monospace; */
/* } */
